# {{ config_name }} State Role Configuration

This configuration creates an IAM role/policy to allow the terragrunt user to access the S3 state bucket and DynamoDB lock table.

**Run this config as an AWS user with Administrator access credentials.**
