# {{ config_name }} IAM Policies Configuration

This configuration bootstraps an IAM role and policy for the terragrunt user. It should be run **before** any live Terraform configurations are created/run. It can also be edited and used to manage IAM roles/policies that you want the terragrunt user to have.

**Run this config as an AWS user with Administrator access credentials.**
